.article_page_header {
    margin-top: 20px;
    z-index: 2;
    position: sticky;
    transition: top .2s;
    margin-bottom: 0; 
}
.header_container {
    position: relative;
    display: flex;
    justify-content: center;
}
.views_header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 400px;
    min-width: 300px;
    position: relative;
}
.views_header_maxwidth_wrapper {
    margin: 0;
    width: 100%;
}
.view_header_content {
    display: flex;
    position: relative;
    align-items: center;
    transition: opacity .2s;
    width: 100%;
}
.view_header_info {
    width: 100%;
}
.view_header_info_left {
    width: 100%;
}
@media (min-width: 600px) and (max-width: 1051px) {
    .views_header {
        width: 612px;
    }
}